@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.sidemark * {
  list-style: none !important;
  text-decoration: none !important;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

.sidemark {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidemark-wrapper {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4) !important;
  clear: both;
  height: 100%;
  /*width: 400px;*/
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 900000000000000000;
}

.sidemark-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 2147483640;
}

.sidemark-sidebar {
  background: #424242 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
}

.sidemark-sidebar ul li div {
  color: #fff;
  background: #4d4d4d;
  background: #F0F0C9 !important;
  color: #000;
  display: block;
  padding: 5px 20px;
  border-bottom: 1px solid #fff;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.sidemark-sidebar ul li .search {
  background: #777777;
  background: #124E78 !important;
  color: #fff;
  font-weight: bold;
}

.sidemark-sidebar ul li a {
  display: block;
  padding: 5px 40px;
  border-bottom: 1px solid #fff;
  position: relative;
  width: 100%;
  color: #fff;
  white-space: nowrap;
}

.sidemark-sidebar ul li a:hover {
  background: #585858 !important;
  /*transition: background-color 0.5s ease;*/
}

div input {
/*   width: 75%; */
  padding: 0px;
  margin: 0px 0px 0px 15px;
  box-sizing: border-box;
  font-size: 1em;
}
